.container {
    margin-bottom: 30px;
    width: 60%;
}

#portfolio-box-container {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
}

.portfolio-image {
    width: 350px;
    height: 339px;
}

.portfolio-image-whc {
    width: 350px;
    height: 532px;
}

.design-prototype-image {
    width: 750px;
    height: 409px;
}

.design-prototype-image-whc {
    width: 750px;
    height: 756px;
}

.design-prototype-image-scroller {
    width: 750px;
    height: 708px;
}

.journey-map-image {
    margin-top: 20px;
    width: 750px;
    height: 563px;
}

#company-background,
#user-research,
#journey-map,
#problem-statement,
#wireframes,
#design-prototype {
    position: relative;
    height: auto;
    width: auto;
}

#company-background {
    margin-top: 100px;
}

#company-background .container h1 {
    font-size: 1.5rem;
    margin: 20px 0 20px 0;
    padding: 0;
    text-transform: uppercase;
    letter-spacing: 0.5rem;
    mix-blend-mode: overlay;
    text-align: center;
}

#company-background .container img,
#problem-statement .container img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#company-background .container img:first-child {
    margin-top: 20px;
}

.portfolio-wireframe-box {
    text-align: center;
    margin: 20px;
}

#problem-statement li {
    margin-bottom: 20px;
}

@media(max-width:920px) {
    .design-prototype-image {
        width: 450px;
        height: 245px;
    }
    .design-prototype-image-scroller {
        width: 450px;
        height: 425px;
    }
    .design-prototype-image-whc {
        width: 450px;
        height: 454px;
    }
    .journey-map-image {
        width: 450px;
        height: 338px;
    }
}

@media(max-width:550px) {
    .design-prototype-image {
        width: 300px;
        height: 164px;
    }
    .design-prototype-image-scroller {
        width: 300px;
        height: 283px;
    }
    .portfolio-image-whc {
        width: 300px;
        height: 456px;
    }
    .design-prototype-image-whc {
        width: 300px;
        height: 303px;
    }
    .journey-map-image {
        width: 300px;
        height: 225px;
    }
}